.vote-container {
  margin-top: 2%;
}

.vote-table {
  height: 90%;
  width: 70%;
  margin: auto;
}

.action-button {
  background-color: rgb(76, 177, 76);
  color: #fff;
}

.action-button--voted {
  background-color: rgb(30, 78, 30);
  color: rgb(14, 13, 13);
}

.button--disabled {
  background-color: rgb(110, 110, 110) !important;
  color: rgb(14, 13, 13) !important;
}

.warn-button {
  background-color: rgb(182, 20, 15);
  color: #fff;
}

.warn-button--voted {
  background-color: rgb(97, 12, 9);
  color: rgb(14, 13, 13);
}

.mat-snack-bar-container {
  background-color: rgb(195, 35, 35);
}
